# Backend (Node.js Proxy) configuration
PORT=4000
FRONTEND_ORIGIN=http://localhost:3000

# API Gateway
API_GATEWAY_URL=https://6g6lrcsukg.execute-api.ap-southeast-1.amazonaws.com
API_ENDPOINT=sensors

# AWS IoT Core mTLS
AWS_IOT_ENDPOINT=a2bgtu4hk9hwe6-ats.iot.ap-southeast-1.amazonaws.com
AWS_IOT_TOPIC=gateway/+/telemetry/aggregated
AWS_IOT_CLIENT_ID=iot-dashboard-proxy
PATH_TO_CERT=certs/certificate.pem.crt
PATH_TO_KEY=certs/private.pem.key
PATH_TO_ROOT_CA=certs/AmazonRootCA1.pem
