# --- AWS IoT Core Settings ---
AWS_ENDPOINT=a2bgtu4hk9hwe6-ats.iot.ap-southeast-1.amazonaws.com
AWS_CLIENT_ID=sdk-nodejs-gateway-one
AWS_CA_FILE=secrets/root-CA.crt
AWS_CERT_FILE=secrets/gateway.cert.pem
AWS_KEY_FILE=secrets/gateway.private.key
AWS_PUBLISH_TOPIC=gateway/gateway-secondary/telemetry/aggregated

# --- Gateway Identity ---
GATEWAY_ID=gateway-secondary
GATEWAY_ROLE=secondary
PRIMARY_GATEWAY_ID=gateway-one

# --- Local MQTT Broker ---
MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_TOPIC_PREFIX=sensors
MQTT_USERNAME=admin
MQTT_PASSWORD=1234
MQTT_CLIENT_ID=gateway-secondary

# --- MQTT Fallback Broker ---
MQTT_FALLBACK_BROKER_URL=
MQTT_FALLBACK_USERNAME=
MQTT_FALLBACK_PASSWORD=
MQTT_RECONNECT_DELAY_MS=3000
MQTT_CONNECT_TIMEOUT_MS=10000
MQTT_PRIMARY_RETRY_MS=30000

# --- Rooms to subscribe ---
ROOMS=R200,R201,COE,AIE,NETWORK,R302,Co_Ai

# --- Edge computing ---
SEND_INTERVAL=60

# --- HA ---
HEARTBEAT_TOPIC=gateway/primary/heartbeat
HEARTBEAT_INTERVAL_MS=1000
FAILOVER_TIMEOUT_MS=2500
